@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    font: 100% / 1.5 Arial;
    overflow: hidden;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    -webkit-perspective: 1px;
    perspective: 1px;
}

img {
    width: 100%;
    display: block;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  padding: 0.5em 0.75em;
  background-color: #000;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

a:focus {
    outline: 2px solid #000;
    margin: 0;
    padding: 0.75em;
}

li a,
li a:link,
li a:active,
li a:visited {
    display: block;
    color: #fff;
    text-decoration: none;
    border: 2px solid yellow;
    padding: .5em;
    opacity: .5;
        -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}

li a:hover {
    opacity: 1;
}


.parallax-group {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.back {
    -webkit-transform: translateZ(-1px) scale(2.2);
    transform: translateZ(-1px) scale(2.2);
    position: relative;
    width: 100%;
    height: 60vh;
    top: 1em;
    display: block;
    background-color: #ccc;
}

.front {
    background-color: #ccc;
    padding: 1em 1em;
    position: relative;
    z-index: 20;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.front-1 {
    background-color: #ccc;
    padding: 1em 1em;
    position: relative;
    z-index: 10;
    top: 0;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.top {
    margin-top: 10em;
    position: absolute;
}

.back-2 {
    -webkit-transform: translateZ(-.5px) scale(1.5);
    transform: translateZ(-.5px) scale(1.5);
    position: relative;
    width: 100%;
    height: 52em;
    top: 1em;
    padding: 2em;

    background-image: url(../img/anna-misak-bg-copy.jpg);
    background-size: cover;
    background-position: top left;
    background-color: yellow;
}

.front-2 {
    background-color: #ccc;
    padding: 1em 1em;
    position: relative;
    top: -14em;
    z-index: 10;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.quote {
    color: #fff;
    margin-right: 0;
    margin-left: 0;
    margin: 0;
    width: 80%;
    height: 80%;
}

h1 {
    -webkit-transform: translateZ(-0.5px) scale(1.5);
    transform: translateZ(-0.5px) scale(1.5);
    position: absolute;
    top: -0.3em;
    width: 100%;
    text-align: center;
    color: #000;
}

h2 {
    top: 2em;
}

.h2 {
    -webkit-transform: translateZ(-0.5px) scale(1.5);
    transform: translateZ(-0.5px) scale(1.5);
    position: absolute;
    top: 4%;
    width: 100%;
    text-align: center;
    color: #000;
}

.welcome {
    -webkit-transform: translateZ(-0.5px) scale(1.5);
    transform: translateZ(-0.5px) scale(1.5);
    position: absolute;
    top: 6%;
    width: 100%;
    text-align: center;
    color: #000;
}

image {
    filter: url(#desaturate);
    opcity: .7;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}

image:hover {
    filter: none;
    opacity: 1;
}

/*   -------  Navigation  -------   */

nav {
    -webkit-transform: translateZ(-0.5px) scale(1.5);
    transform: translateZ(-0.5px) scale(1.5);
    position: absolute;
    top: -11.2em;
    left: -.4em;
    width: 103%;
    background-color: rgba(0, 155, 184, .9);
    z-index: 1;
    padding: 1em;
}

nav ul {
    display: inline;
    padding-left: 0;
}

nav li {
    list-style-type: none;
    display: inline-block;
    padding: 1em;
}

nav li: a {
    color: #fff;
}

/*   -------  Footer  -------   */

footer {
    height: auto;
    background-color: rgba(0, 155, 184, .9);
    color: #fff;
    margin: 0;
    position: relative;
}

footer p {
    margin: 0;
}

wrapper {
    width: 100%;
}

footer li {
    list-style-type: none;
}

footer ul {
    padding-left: 0;
}

footer a {
    display: inline-block;
}

.sm-wrapper {
    width: 100%;
    text-align: center;
}

.social-media {
    width: 3em;
    height: 3em;
    display: inline-block;
    opacity: .7;
}

.social-media:hover {
    opacity: 1;
    -webkit-animation: pulse 1s ease alternate infinite;
    animation: pulse 1s ease alternate infinite;
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.3); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.border-right {
    border-bottom: 2px dashed #fff;
    height: auto;
}

.border-right2 {
    border-bottom: 2px dashed #fff;
    height: auto;
}


@media only screen and (min-width: 25em) {

    h1 {
        font-size: 3.5em;
    }
}

@media only screen and (min-width: 38em) {

    h1 {
        font-size: 5em;
    }

    .h2 {
        top: 7%;
    }

    .welcome {
        width: 60%;
        right: 20%;
        top: 10%;
    }
}

@media only screen and (min-width: 60em) {

    h1 {
        font-size: 5em;
    }

    .back {
        height: 80vh;
    }
}
