@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    font: 100% / 1.5 Arial;
    box-sizing: border-box;

    background-image: url(../img/anna-misak-bg-copy.jpg);
    background-size: 100% auto;
    background-position: top 8em left;
    background-color: #ccc;
    background-attachment: fixed;
}

@media only screen and (min-width: 60em) {

    html {
        font-size: 110%;
    }

}

@media only screen and (min-width: 90em) {

    html {
        font-size: 120%;
    }

}

@media only screen and (min-width: 120em) {

    html {
        font-size: 130%;
    }

}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  padding: 0.5em 0.75em;
  background-color: rgba(0, 155, 184, .9);
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

a:focus {
    outline: 2px solid rgba(0, 155, 184, .9);
    margin: 0;
}

.clearfix {
  overflow: hidden;
}

main {
    margin-top: 25%;
}

h1 {
    width: 100%;
    color: rgba(0, 155, 184, .9);
}

h2 {
    top: 2em;
}

.h2 {
    width: 100%;
    text-align: center;
    color: #000;
}

.welcome {
    width: 100%;
    text-align: center;
    color: #000;
}

.svg {
    display: block;
}

image {
    filter: url(#desaturate);
    opacity: .3;
    width: 100%;
    display: block;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}

image:hover {
    filter: none;
    opacity: 1;
}

.portfolio {
    background-color: rgba(0, 155, 184, .9);
}

.samples {
    background-color: rgba(248, 240, 169, .9);
}

.samples img {
    width: 100%;
    opacity: .2;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}

.samples img:hover {
    opacity: 1;
}

.quote {
    background-color: rgba(255, 255, 255, 1);
    padding-top: 4em;
    padding-bottom: 4em;
}

.about {
    background-color: rgba(255, 255, 255, 1);
}

blockquote {
    font-family: Georgia, serif;
    font-size: 1.5em;
    font-style: italic;
    width: 50%;
    padding: 0.25em 40px;
    line-height: 1.45;
    padding-top: 2em;
    color: #383838;
    margin: 0 auto;
    position: relative;
}

blockquote:before {
    display: block;
    position: absolute;
    content: "\201C";
    font-size: 10em;
    color: #ccc;
    margin-top: -100px;
    right: .3em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    text-align: right;
}

blockquote cite:before {
    content: "\2014 \2009";
}

/*   -------  Navigation  -------   */


.title {
    text-align: center;
}

.intro {
    background-color: #ecd2a1;
    overflow: hidden;
    text-align: center;
}

header {
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav li {
  display: inline-block;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: block;
    color: #000;
    text-decoration: none;
    border: 2px solid white;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}

.nav a:hover,
.nav a:focus,
.nav a:active
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
    color: rgba(0, 155, 184, .9);
    border: 2px solid yellow;
}

/*   -------  Footer  -------   */

footer {
    height: auto;
    background-color: rgba(0, 155, 184, .9);
    color: #fff;
    margin: 0;
}

footer p {
    margin: 0;
}

.wrapper {
    width: 100%;
}

footer li {
    list-style-type: none;
}

footer ul {
    padding-left: 0;
}

footer a {
    display: inline-block;
}

.sm-wrapper {
    width: 100%;
    text-align: center;
}

.social-media {
    width: 3em;
    height: 3em;
    display: inline-block;
    opacity: .7;
}

.social-media:hover {
    opacity: 1;
    -webkit-animation: pulse 1s ease alternate infinite;
    animation: pulse 1s ease alternate infinite;
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.3); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.border-right {
    border-bottom: 2px dashed #fff;
    height: auto;
}

.border-right2 {
    border-bottom: 2px dashed #fff;
    height: auto;
}

.return a,
.return a:link,
.return a:active,
.return a:visited {
    color: #fff;
    text-decoration: none;
    opacity: .5;
        -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}

.return a:hover {
    opacity: 1;
}

@media only screen and (min-width: 25em) {

    .nav {
        text-align: center;
    }

}

@media only screen and (min-width: 38em) {

    html {
        background-position: top 1.5em left;
    }

    .title {
        float: left;
    }

    .nav {
        float: right;
        margin-right: 8%;
    }

}

@media only screen and (min-width: 60em) {

    .nav {
            margin-right: 11%;
        }
}
