    <nav class="unit gutter-1-2 unit-xs-1 unit-s-1 unit-m-2-3 unit-l-2-3" id="navigation" role="navigation">
        <ul class="nav font-family kilo push-0">
            <li><a class="{% if page.url == 'index.html#mywork' %}current{% endif %} island-1-2" href="{{site.baseurl}}/index.html#mywork">My Work</a></li>
            <li><a class="{% if page.url == 'index.html#about' %}current{% endif %} island-1-2" href="{{site.baseurl}}/index.html#about">About</a></li>
            <li><a class="{% if page.url == 'index.html#contact' %}current{% endif %} island-1-2" href="{{site.baseurl}}/index.html#contact">Contact</a></li>
        </ul>
    </nav>
