<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}} · {% endif %}{{site.name}}</title>
    <meta name="description" content="{{page.meta}}">
    <meta name="keywords" content="designer, illustrator, graphics, graphic designer, ottawa, canada, creative, visual thinker, developer">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Anna Misak">
    <meta name="copyright" content="&#169; Anna Misak">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{site.baseurl}}/img/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans|Satisfy" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
    <link rel="author" href="{{site.baseurl}}/humans.txt">
    <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/img/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/img/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/img/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/img/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/img/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/img/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/img/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/img/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/img/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{site.baseurl}}/img/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{site.baseurl}}/img/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/img/icon/favicon-16x16.png">
    <link rel="manifest" href="{{site.baseurl}}/img/icon/manifest.json">
</head>
<body>

<ul class="skip-links">
    <li><a href="#main">Jump to Main Content</a></li>
    <li><a href="#navigation">Jump to Navigations</a></li>
</ul>

<div id="top"></div>

<header class="grid grid-middle">
    <div class="unit gutter unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3">
        <a href="{{site.baseurl}}/"><h1 class="title exa">Anna Misak</h1></a>
    </div>
    {% include nav.html %}
</header>

{{content}}

<footer class="return">
    <div class="island" id="contact" role="contentinfo">
        <p class="text-center peta push-0 font-family">Connect with me!</p>
        <p class="text-center mega pad-top"><a href="mailto:hello@annamisak.com">hello@annamisak.com</p>
        <div class="sm-wrapper">
            <a href="https://twitter.com/AnnaMisak"><img class="social-media svg" src="{{site.baseurl}}/img/twitter.svg" alt="Follow me on Twitter"></a>
            <a href="https://www.behance.net/annamisak"><img class="social-media svg" src="{{site.baseurl}}/img/behance.svg" alt="Follow me on Behance"></a>
            <a href="https://ca.linkedin.com/in/annamisak"><img class="social-media svg" src="{{site.baseurl}}/img/linkedin.svg" alt="Follow me on Linkedin"></a>
        </div>
        <p class="text-center milli">© by Anna Misak.</p>
    </div>
    <div class="samples island">
        <p class="text-center giga return-top"> <a href="#top">Return to top!</a></p>
    </div>
</footer>

</body>
</html>
